#modal-bg {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);

}

#form-modal{

    width: 25rem;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  

    .form-header {
        font-size: 2rem;
        display: flex;
        background-color: rgb(33, 100, 33);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        justify-content: space-between;
        color: white;
        padding: 20px;
        b {
            cursor: pointer;
        }
        
    }
    form {
        // margin: 15px;
        padding: 15px;
        input , textarea, button {
            display: block;
            font-size: 20px;
            margin: 10px 0px;
            padding: 10px;
            width: 100%;
            box-sizing: border-box;
            font-family: arial;
            border-radius: 5px;
            border: 0.5px solid gray;
            
        }

        button {
            background-color: rgb(42, 42, 70);  
            color: white;
            font-size: 28px;
            cursor: pointer;
            &:hover {
                background-color: rgb(26, 25, 31);
            }
        }
    }
}

// #portal {
//     width: 100%;
//     position: absolute;
//     z-index: 6;
//     border: 2px solid red;
// }