#pages-container {
    display: flex;
    justify-content: center;
    #pages{
        padding: 0px 20px;
        background-color: rgb(233, 230, 230);
        box-shadow: 1px 1px 7px 2px rgb(182, 181, 181);
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
    span {
        text-align: center;
        display: inline-block;
        padding: 10px;
        background-color: rgb(187, 184, 184);
        border-radius: 5px;
        width: 2rem;
        font-size: 25px;
        margin: 1rem;
        cursor: pointer;
    }
}

.selected-page {
    border: 1px solid black;
}